Package: com.ikilledappl3.autofolderclose-rootless
Name: AutoFolderClose
Depends: mobilesubstrate, firmware (>= 15.0)
Version: 1.1
Architecture: iphoneos-arm64
Description: Closes your folder when you launch an application.
Maintainer: michaelmelita1
Author: iKilledAppl3
Section: Tweaks
